
.org-info{
     margin: auto 0;
     display: flex; 
     justify-content: space-evenly;
     /* margin-left: 2px; */
    /* text-align: center; */
}

.org-details{
    text-align: center;
}

.card{
    display:initial;
}

.org-details > p{
    font-size: 0.8rem;
}

.box-wrapper{
    border:none;
}
